<div class="container">
  <h3>Página Inicial</h3>
  <div class="new-tweet">
    <div>
      <img
      class="img-fluid rounded avatar"
      src="../../../../assets/avatar.png">
    </div>
    <div class="box-tweet">
      <textarea
      placeholder="O que está acontecendo?"
      rows="10"
      [(ngModel)]="tweet"
      maxlength="130"
      ></textarea>
    </div>
  </div>
  <div class="create-tweet">
   <label>{{ tweet.length }}</label>
    <div class="buttons">
      <button type="button" class="btn btn-primary" [disabled]="tweet === ''">Twettar</button>
    </div>
  </div>
</div>
